%h1= Spree.t(:new_shop)

= form_for @supplier, url: supplier_index_path do |f|
  = render 'spree/shared/error_messages', target: @supplier
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  = f.submit Spree.t(:create_shop), class: 'btn btn-primary';